<div class="row">
  <div class="col-lg-8">
    <app-sales-profit></app-sales-profit>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-12">
        <app-total-tables></app-total-tables>
      </div>
      <div class="col-12">
        <app-total-income></app-total-income>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <app-stock></app-stock>
  </div>
  <div class="col-lg-4">
    <app-earning-reports></app-earning-reports>
  </div>
<!--  <div class="col-12">-->
<!--    <app-blog-card></app-blog-card>-->
<!--  </div>-->
</div>
